.c-app {
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 24px;
    padding: 24px;
    position: relative;
}

@media (min-width: 768px) {
    .c-app {
        flex-direction: row;
    }
}

.c-app__sidebar {
    border: solid 1px green;
    flex: 1;
}

.c-app__content {
    border: solid 1px blue;
    flex: 3;
}