* {
    box-sizing: border-box;
}

body {
    background: #f1f7fd;
    color: #434656;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: 300;
}