.c-loader {
    background: #fff;
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    align-items: center;
    justify-content: center;
}
